@charset "UTF-8";
h1 {
    text-align: center;
    margin-bottom: 40px;
  }
  td {
    width: 100px;
    height: 100px;
  }
  table {
    margin: 5px auto;
  }
  .vert {
    border-left: 2px solid black;
    border-right: 2px solid black;
  }
  .hori {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }
  td{
      text-align: center;
      font-size: 35px;
     
  }
 .resposta td{
      font-size: 25px;    
  }

#botao{
    width: 80px;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    margin: auto;
}